.Banner{
    background-color: #0e55e2;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 1vmin);
    color: white;
}